
.mouse-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:yellow;
    z-index: 9999;
    cursor: pointer;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: cursorAnimation 1s infinite;
}
  
  @keyframes cursorAnimation {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }