.profile-container {
  max-width: 600px;
  margin-top: 280px;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-left: 470px;
}

.profile-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.user-details {
  margin-top: 20px;
}

.input-field {
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-edit {
  background-color: #2ecc71;
  color: #fff;
}

.btn-save {
  background-color: #3498db;
  color: #fff;
}

.btn-cancel {
  background-color: #e74c3c;
  color: #fff;
}

.btn-edit:hover,
.btn-save:hover,
.btn-cancel:hover {
  opacity: 0.8;
}

.profile-container::-webkit-scrollbar {
  width: 12px;
}

.profile-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.profile-container::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .profile-container {
    max-width: 100%;
  }
}
