
  .content {
    margin-bottom: 50px; 
    margin-top:100px;
    text-align: center;
    padding-left: 10px;  
    width: 100%;
  }
  .hh{
     color: red;
  }
  .hp{
    color:black   ;
    font-size: xx-large;
  }